.freeplay{
  font-family: sans-serif;
  font-size: 15px;
  margin: 15px;
}

.writing{
  font-family: times;
  font-size: 17px;
}

ul{
  font-size: 17px; 
  font-family: times;
  margin-top: -5px;
  width: 90%
}

h1{
  margin: 5%;
  font-size: 25px;
}

.perfdate{
  font-family: poppins_bold;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 3px;
  margin-top: 35px;
  color: black;
  text-align: left;
}

.perfloc{
  font-family: pt_serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 3px;
  color: black;
  text-align: left;
}

.perfens{
  font-family: pt_serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bolder;
  color: black;
  margin-bottom: 15px;
  text-align: left;
}
.perf{
  font-family: pt_serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  margin-bottom: 3px;
  margin-left: 4%;
  color: black;
  text-align: left;
}

.perfdetail{
  font-family: pt_serif;
  font-size: 15px;
  margin-bottom: 3px;
  margin-left: 8%;
  color: black;
  text-align: left;
}

.indent{
  padding-left: 47px;
}

.column {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 2%;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

/* Clear floats after the columns */
.row {
  width: auto;
  font-family: poppins_bold;
  font-size: 10px;
}

video{
  width: 100%;
  height: auto;
}

/*date tabs*/

.date_playing{
  text-align: right;
  font-family: poppins;
  font-size: 14px;
}

.date_playing span{
  background-color: whitesmoke;
  padding: 4px;
}

.date_recording{
  text-align: right;
  font-family: poppins;
  font-size: 14px;
}

.date_recording span{
  background-color: floralwhite;
  padding: 4px;
}

.date_interdisciplinary{
  text-align: right;
  font-family: poppins;
  font-size: 14px;
}

.date_interdisciplinary span{
  background-color: ghostwhite;
  padding: 4px;
}

.date_work{
  text-align: right;
  font-family: poppins;
  font-size: 14px;
}

.date_work span{
  background-color: whitesmoke;
  padding: 4px;
  font-family: poppins;
}

.date_work2{
  text-align: right;
  font-family: poppins;
  font-size: 14px;
}

.date_work2 span{
  background-color: rgb(35, 35, 36);
  color: white;
  padding: 4px;
}

.date_work3{
  text-align: right;
  font-family: poppins;
  font-size: 14px;
}

.date_work3 span{
  background-color: aliceblue;
  color: black;
  padding: 4px;
}

/*date tabs END*/

.work{
  font-family: poppins_bold;
  font-size: 17px;
  color: black;
  padding: 7px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  margin-bottom: 15px;
}


.performances{
  font-family: poppins_bold;
  font-size: 20px;
  color: black;
  padding: 7px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.work_writing{
  font-family: times;
  font-size: 24px;
  text-decoration: bold;
  color: black;
  padding: 7px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.description{
  font-family: pt_serif;
  font-size: 15px;
  color: black;
  text-align: left;
  margin-top:5px;
  margin-bottom: 5px;
}

.work2{
  font-family: poppins_bold;
  font-size: 17px;
  color: rgb(233, 233, 233);
  padding: 7px;
  border: 1px solid black;
  background-color: rgb(35, 35, 36);
  margin-bottom: 15px;
}

.description2{
  font-family: pt_serif;
  font-size: 15px;
  color: rgb(233, 233, 233);
  margin-top:5px;
  margin-bottom: 5px;
}

.work3{
  font-family: poppins_bold;
  font-size: 17px;
  color: black;
  padding: 7px;
  border: 1px solid aliceblue;
  background-color: aliceblue;
  margin-bottom: 15px;
}

.description3{
  font-family: pt_serif;
  font-size: 15px;
  color: black;
  margin-top:5px;
  margin-bottom: 5px;
}


.conductingvid{
  font-family: poppins_bold;
  font-size: 17px;
  color: black;
  padding: 7px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.playing{
  font-family: poppins_bold;
  font-size: 17px;
  color: black;
  padding: 7px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.recording{
  font-family: poppins_bold;
  font-size: 17px;
  color: black;
  padding: 7px;
  border: 1px solid floralwhite;
  background-color: floralwhite;
  margin-bottom: 15px;
}

.youtube{
  margin-top:10px;
  width: 100%;
  height: 350px;
}


.interdisciplinary{
  font-family: poppins_bold;
  font-size: 17px;
  color: black;
  padding: 7px;
  border: 1px solid ghostwhite;
  background-color: ghostwhite;
  margin-bottom: 15px;
  text-align: left;
}

audio{
  width: 100%;
}

.title{
  margin: 0px;
  font-size: 12px;
  text-decoration: bold;
}

.moodyphotos{

}

p{
  margin:0px;
  padding:0px;
}
font
.about{
  font-size: 20px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: opensans;
  
}

.content{
  font-family: opensans;
  font-size: 17px;
  margin: 0px;
  margin-left: 12px;
  margin-right: 12px;
  
  
  
}

body{
  margin: 0px;
  font-size: 15px;
  font-family: opensans;
  
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: none!important;
  position: relative;
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 4%;
  font-size: 17px;
  font-family: opensans;
  text-align: right;
  float: right

}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: none;
  background-color: none;
  display: block;
  position: absolute;
  right: 8px;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: none;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: none;
  color: black;
  font-size: 25px;
}


@font-face {
  font-family: pt_serif_italic;
  src: url(fonts/pt_serif/PTSerif-Italic.ttf)
}

@font-face {
  font-family: pt_serif;
  src: url(fonts/pt_serif/PTSerif-Regular.ttf)
}

@font-face {
  font-family: pt_serif_bold;
  src: url(fonts/pt_serif/PTSerif-Bold.ttf)
}

@font-face {
  font-family: opensans;
  src: url(fonts/opensans/OpenSans-Light.ttf)
}

@font-face {
  font-family: opensans-regular;
  src: url(fonts/opensans/OpenSans-Regular.ttf)
}


@font-face {
  font-family: proza;
  src: url(fonts/proza/prozalibre-regular.ttf)
}


@font-face {
  font-family: opensans_bold;
  src: url(fonts/opensans/OpenSans-Bold.ttf)
}

hr{
  border-top: 1px solid black;
}

h2{
  margin-top: 10px;
  font-size: 20px;
}

figure {
  display: inline-block;
  margin: 0px;
  margin-left: 0px;
}
figure img {
  vertical-align: top;
}
figure figcaption {
  text-align: right;
}


/* desktop */


#sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 20px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  transition: all 300ms ease 0s;
  font-family: opensans;
  font-size: 20px;
  }

  
  #sidenav a {
  padding: 5px;
  margin-left: 20px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s
  }
  
  #sidenav a:hover {
  color: rgb(34, 125, 211);
  font-family: opensans-regular;
  }

.selected{
  font-family: opensans-regular;
} 

/* cover shenanigans*/

/* mobile and media CSS*/

#mobile_cover{
  display: fixed;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 813px) {
  #sidenav{
      display: none;
    }
  #desktop_cover{
      display: none;
    }
  #rightnav{
    display: none;
  }
  .youtube{
    margin-top:10px;
    width: 100%;
    height: 190px;
  }
}

@media screen and (min-width:813px){
    .content{
        padding-left: 25%;
        margin-right: 25%;
        padding-top: 10px;
        display: fixed;
        align-content: left;
    }

    #topnav{
      display: none;
    }

    .sidenav{
      display: fixed;
    }

    #desktop_cover{
      display: fixed;
      width: 75%;
      margin-top: 50px;
      margin-left: 15%;
      margin-bottom: 0%;
    }

    #mobile_cover {
      display: none;
    }
    
    .row{
      font-size: 14px;
    }
  }

  /* trying to make a slideshow*/
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 11px;
  padding: 3px;
  position: absolute;
  background: black;
  bottom: 7px;
  width: auto;
  text-align: left;
}

/* Number text (1/7 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: red;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
